<h1>注文履歴一覧</h1>
<p>購入日時</p>
<p>購入者</p>
<p>注文個数</p>
<% @orders.each do |order| %>
<%= link_to admin_order_path(order.id) do %>
<%= order.created_at %>
<% end %>
<%= order.customer.first_name %>
<%= order.customer.last_name %>
<% end %>

